<input type="checkbox" id="check" />
<label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
</label>

<ul>
    <li id="search"><a href="/search">Search</a></li>
    <li id="roulette"><a href="/roulette">Recipe Roulette</a></li>
    <li id="cocktails"><a href="/cocktails">Cocktails</a></li>
    <li id="contact"><a href="/contact">Contact Us</a></li>
</ul>