<input type="checkbox" id="check" />
<label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
</label>

<ul style = '
    background: rgb(255, 255, 255, 0.4);
    '>
    <li><a id="recipes" href="/recipes">Search Recipes</a></li>
    <li><a id="cocktails" href="/cocktails">Search Cocktails</a></li>
    <li><a id="roulette" href="/roulette">Recipe Roulette</a></li>
    <li><a id="contact" href="/contact">Contact Us</a></li>
</ul>